header img {
	width: auto;
	margin-left: 200px;
	margin-right: 200px;
	

}

header {
	background-color: #988064;
	margin-left: 200px;
	margin-right: 200px;
	height: 187px;
	text-align: center;
	border: 0px solid black;
	border-radius: 20px;
	box-shadow: 5px 5px 5px black;
	
}

.equipo {
	margin-left: 30% !important;
  	margin-right: 10% !important;
}

.form {
	margin-left: 33% !important;
  	margin-right: 10% !important;
}

ul {
	list-style: none;
	
}

li {
	display: inline-block;
	margin: 10px;
	background: #5e5237;
  	color: #fff5dd;
	border-radius: 20px;
	padding: 2px;
}

li:hover {
	color: #5e5237;
  	background-color: #fff5dd;
}

li a{
	color: #fff5dd !important;
	padding: 15px;
}

li:hover a {
	color: #5e5237 !important;
}

nav {
	text-align: center;
	font-size: 25px;
	
}

h1, caption {
	font-family: "Merriweather" !important;
  	font-weight: 700;
  	font-style: normal;
}

caption {
	font-weight: bold;
}

header h1, footer {
	color: #171c34;
}

a {
	text-decoration: none;
	color: #171c34;
}

.centro {
	background-color: #466A58;
	/*border: 1px solid lightgrey;*/
	border-radius: 20px;
	width: 50%;
	margin-top: 10px;
	margin-left: 200px;
	margin-right: 300px;
	text-align: center;
}

aside {
	background-color: #132730;
	/*border: 1px solid lightgrey;*/
	border-radius: 20px;
	float: right;
	width: 18%;
	margin-right: 200px;
	
}

aside, h2 {
	color: white;
	font-size: 20px;
	text-align: center;
}

.derecha {
	background-color: #94a2a9;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 20px;
	border-radius: 20px;
	padding: 20px;
}

.derecha h2 {
	color: #132730;
	font-size: 15px;
	text-align: center;
	margin-left: 5px;
}

body {
	background-color: #c7af94;
	font-family: "Roboto", sans-serif;
}

footer {
	text-align: center;
	margin-left: 200px;
	margin-right: 200px;
}

hr {
	margin-left: 200px;
	margin-right: 200px;

}

.centro, .equipo, .form {
	color: #171c34;
	background-color: #a0a4b5 !important;
}

.equipo {
	background-color: #466A58;
	/*border: 1px solid lightgrey;*/
	border-radius: 20px;
	width: 40%;
	margin-top: 10px;
	margin-left: 400px;
	margin-right: 300px;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

.equipo table {
	border: 10px solid #494e68;
	margin-left: 15%; 
	border-collapse: collapse;
	color: #171c34;

}

.equipo td {
	border: 3px solid #494e68;
	color: #171c34;

}

.equipo caption {
	font-size: 20px;
}

.form {
	background-color: DarkSeaGreen;
	/*border: 1px solid lightgrey;*/
	border-radius: 20px;
	width: 35%;
	margin-top: 10px;
	margin-left: 450px;
	margin-right: 300px;
	text-align: left;
	padding-top: 20px;
	padding-bottom: 20px;
	color: #171c34;
}

form {
	margin-left: 20%;
	margin-right: 20%; 
	
}

.form h2 {
	color: black;
	font-size: 30px;
	margin-left: 20%;
	margin-right: 20%;
	text-align: center;
	margin-top: 0;
	margin-bottom: 0;
}

legend {
	text-align: center;
}

fieldset input[type=radio] {
	margin-left: 20%;
	width: auto;
}

fieldset input {
	margin-left: 20%;
	width: 50%;
}

#muj {
	margin-left: 0;
}

input[type=submit] {
	margin-left: 33%;
}

select {
	margin-left: 20%;
	background-color: #132730;
	color: #94a2a9;
	border-color: #24343b;
}

fieldset label {
	color: #132730;
}

.sex {
	color: black;
}


fieldset {
	margin-left: 0;
	padding-left: 0;
	border: 2px solid #171c34;
}

input[type=checkbox] {
	margin-top: 50px;
	margin-bottom: 50px;
}

input {
	background-color: #132730;
	color: #94a2a9;
	border-color: #24343b;
}