/* BOX-SIZING para calcular directamente todas las dimensiones de las cajas */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}

/* RESETEO LIMITADO DE PROPIEDADES */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
    
}

/* Estilo para las fuentes en toda la página */
body {
  color: #121867;
  font-family: "Lato", sans-serif;
  font-weight: bolder;
}

/* Establecemos el centrado y las dimensiones de los elementos principales */
nav,.container,footer {
  max-width: 1200px;
  min-width: 576px;
  margin:0px auto;
}



/* Estilos para el menú principal */
nav {
  display: flex;
  background-color: #121867;
  color: rgb(243, 55, 132);
  font-size: 1.4;
  padding: 10px;
  position: -webkit-sticky;
  position: sticky;
  overflow-y: auto;
  top: 0px;
  z-index: 999999;
}

nav div {
  margin-left: 20px;
  padding: 5px;
}

/* Estilos para la cabecera */
header {
  position: relative;
  text-align: center;
}

/* Fondo de la cabecera */
header img {
  opacity: 0.7;
  width: 100%;
}


/* Call for action para Comprar */
aside {
  background-color: #121867;
  border-radius: 20px;
  color: rgb(243, 55, 132);
  padding: 10px;
  position: absolute;
  right: 15%;
  text-align: center;
  top: 30%;
  width: 25%;
}

header aside {
  left: 15%;
}

.lateral {
  left: 5%;
  width: 7%;
  height: 40%;
  text-align: left;
}

.lateral img {
  width: 100%;
}

aside a {
  background-color: rgb(243, 55, 132);
  border-radius: 10px;
  color: white;
  margin-top: 40px;
  padding: 10px;
  text-decoration: none;
}

aside h3 {
  margin: 20px 0px;
}

/* Elemento principal con las 3 cards */
main {
  margin: 0px auto;
  width: 80%;
}
main h1 {
  text-align: center;
}

/* Línea separados de elementos */


main h1::after,
main:after {
  background-color: rgb(243, 55, 132);
  display: flex;
  content: " ";
  height: 2px;
  width: 100%;
  margin: 0px auto;
  margin-top: 30px;
}

/* Estilos para la zona de las cards */
.cards {
  overflow-y: auto;
  display: flex;
  flex-direction: row; 
  justify-content: space-between;
}
.cards .card {
  
  padding: 20px;
  text-align: center;
  width: 33%;
  
}

.cards .card img {
  width: 95%;
  
}




/* Sección con la botella y los tres párrafos descriptivos */
.bottle {
  margin: 30px auto;
  overflow-y: auto;
  width: 95%;
  display: grid;
  grid-template-columns: 150px auto 150px;
}

.bottle img {
  
  
  width: 100%;
  margin-top: 10%;
}



.bottle div {
  
  margin-top: 15%;
  text-align: justify;
  width: 100%;
   padding-left: 20%;
  padding-right: 30%; 
  
}

/* Mostrarmos la primera letra con un borde diferente */
.bottle div::first-letter {
  border-right: 1px solid #121867;
  border-bottom: 1px solid #121867;
  color: rgb(243, 55, 132);
  font-size: 2em;
  font-weight: bolder;
  margin-right: 10px;
  padding-right: 10px;
}


/* Estilos para la galería de imágenes */
.gallery {
  display: flex;
  
  margin: 25px auto;
  overflow-y: auto;
  width: 70%;
  margin-left: 15%;
}
.gallery img {
  
  width: 25%;
}


/* Estilos para el pie de página */
footer {
  display: flex;
  justify-content: space-between;
  background-color: #121867;
  color: rgb(243, 55, 132);
  font-weight: bolder;
  font-size: 0.8;
  margin-top: 20px;
  overflow-y: auto;
  padding: 20px;

}

footer address {
  
  width: 20%;
}

footer div {
  
  text-align: center;
  width: 60%;
  color: transparent;
}

footer section {
  float: right;
  text-align: center;
  width: 20%;
}

footer img {
  width: 30%;
}
