/* Fuentes */
h1, h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* Fin fuentes */


.container {
    width: 90%;
    margin: 20px auto;
    background-color: #005f9c;
}

body {
    background-color: #005f9c;
    color: rgba(255, 255, 255, 0.5);
}


header {
    display: flex;
    justify-content: space-between;
    background-color: #21A6FC;
}

header h1 {
    display: flex;
    align-items: center;
    color: black;
}

header img {
    width: 10%;
    padding: 1%;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav div {
    align-items: center;
    justify-content: center;
    display: flex;
    height: 50px;
    width: 200px;
    margin: 1%;
    background-color: #010785;
    color: #343efc;
}

nav div:hover {
    background-color: #343efc;
    color: #010785;
}

section {
    padding-bottom: 2%;
    padding-top: 2%;
}

h2 {
    color: #13fc8c;
}

#presentacion {
    display: flex;
}

#presentacion aside {
    width: 83%;
    margin-right: 1%;
}

#presentacion img {
    width: 100%;
}

#galeria-presentacion {
    display: grid;
    /* grid-template-columns: auto auto auto auto; */
    grid-template-columns: repeat(auto-fit, minmax(312px, 1fr));
}

#galeria-presentacion img {
    display: inline-grid;

}

#accesos {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 50px;
}


#accesos h2 {
    color: #008645;
    text-align: center;
}

#accesos article {
    background: #13fc8c;
    color: #008645;
    
}

#accesos div {
    margin-left: 2%;
    margin-right: 2%;
    
}

#accesos ul {
    margin: 1%;
    padding: 1%;
}

#accesos img {
    width: 100%;
    max-height: 723px;
}

#L1,
#L4,
#L10,
#L20 {
    width: 100px;
    height: 100px;
    color: white;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

#L1 {
    background-color: #00a6d6;
}

#L4 {
    background-color: #144d29;
}

#L10 {
    background-color: #2905a1;
}

#L20 {
    background-color: #910045;
}

#parrafos article:nth-child(odd) {
    display: grid;
    grid-template-columns: 30% auto;
}

#parrafos article:nth-child(even) {
    display: grid;
    grid-template-columns: auto 30%;
}

#parrafos article {
    
    margin: 1% auto;
}

#parrafos aside {
    background: #21a6fc;
    color: #005f9c;
    padding-left: 2%;
    padding-right: 2%;
    
}

#parrafos img {
    width: 100%;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #13fc8c;
    background: #008645;
    border-color: #00ff84;
    padding-right: 1%;
    padding-left: 1%;
    padding: 1%;
}

footer div {
    width: 30%;
}

footer ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#rss {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

#rss a {
    align-items: center;
    justify-content: end;
    display: flex;
    overflow: hidden;
    height: 58px;

}

#rss img {

    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

#copyright {
    display: flex;
    justify-content: center;
}

#contacto a:link {
    text-decoration: none;
    color: #13fc8c;
}
  
#contacto a:visited {
    text-decoration: none;
}

#contacto a:hover {
    color: #005f9c;
    background: #21a6fc;
}

@media (max-width: 576px) {
    
    nav {
        display: none;
    }

    #presentacion li {
        max-width: 450px;
    }

    #accesos {
        display: block;
    }

    #accesos div {
        padding-bottom: 0.5%;
        margin: 2% auto;
        margin-left: 2%;
    }

    #parrafos article {
        display: block !important;
        margin-top: 15%;
        margin-bottom: 36%;
    }

    #parrafos article:nth-child(even) aside {
        background-color: rgba(33, 166, 252, 0.5);
        color: #13fc8c;
        position: absolute;
        margin-top: -33%;
        margin-right: 6%;

    }

    #parrafos article:nth-child(odd) aside {
        position: absolute;
        background-color: rgba(33, 166, 252, 0.5);
        margin-top: 17%;
        color: #13fc8c;
        margin-right: 6%;
    } 

    #parrafos article:nth-child(odd) img {
        max-height: 284px;
        overflow: hidden;
    }

    #rss {
        display: block;
    }
}


@media (max-width: 992px) {
    nav {
        width: 80%;
    }
    nav div {
        width: 60%;
        height: 50%;
        text-align: center;
    }

    #presentacion {
        display: block;
        
    }

    #presentacion aside {
        
        max-width: 101%;
    }

    #galeria-presentacion {
        display: grid;
        grid-template-columns: auto auto auto auto;
        
    }
}